*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f172a;
    color:#fff;
    font-family:tahoma,sans-serif;
    line-height:1.8;
}

.header{
    background:#1e293b;
    padding:30px 20px;
    text-align:center;
    box-shadow:0 4px 15px rgba(0,0,0,.3);
}

.logo{
    font-size:55px;
    margin-bottom:10px;
}

.header h1{
    font-size:38px;
    margin-bottom:10px;
}

.header p{
    color:#cbd5e1;
    font-size:18px;
}

.container{
    width:95%;
    max-width:900px;
    margin:30px auto;
}

.top-boxes{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

.box{
    flex:1;
    min-width:220px;
    background:#1e293b;
    border-radius:15px;
    padding:20px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.25);
}

.box h3{
    color:#60a5fa;
    margin-bottom:10px;
}
.search-box{
    margin:25px 0;
}

.search-box input{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#1e293b;
    color:#fff;
    font-size:16px;
    outline:none;
}

.search-box input::placeholder{
    color:#94a3b8;
}

.card{
    background:#1e293b;
    border-radius:18px;
    padding:20px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.3);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.ip-title{
    color:#60a5fa;
    font-size:18px;
    margin-bottom:10px;
}

.ip{
    font-size:24px;
    font-weight:bold;
    margin-bottom:20px;
    word-break:break-all;
}

.card button{
    background:#2563eb;
    color:white;
    border:none;
    border-radius:10px;
    padding:12px 22px;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.card button:hover{
    background:#1d4ed8;
    }.archive{
    margin-top:40px;
}

.archive h2{
    margin-bottom:15px;
    color:#60a5fa;
}

.archive ul{
    list-style:none;
    padding:0;
}

.archive li{
    background:#1e293b;
    margin-bottom:10px;
    padding:15px;
    border-radius:10px;
}

.telegram{
    text-align:center;
    margin:40px 0;
}

.telegram a{
    display:inline-block;
    background:#229ED9;
    color:#fff;
    text-decoration:none;
    padding:15px 30px;
    border-radius:12px;
    font-size:18px;
    transition:.3s;
}

.telegram a:hover{
    background:#1b8
    @media (max-width:768px){

.header h1{
    font-size:30px;
}

.logo{
    font-size:45px;
}

.ip{
    font-size:20px;
}

.card button{
    width:100%;
}

.top-boxes{
    flex-direction:column;
}

.box{
    width:100%;
}

}
